@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

img{
    width: 100vw;
}

a {
    text-align: center;
    display: block;
    padding: 20px;
    font-weight: bolder;
    text-decoration: none;
    background-color: darkred;
    color: white;
}

a:hover {
    background-color: red;
}